﻿@using PagedList.Mvc
@model PagedList.IPagedList<object>

<div id="pager">
    <div style="text-align: center">
        <p style="text-align: center">
            <strong>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</strong>
            &nbsp;&nbsp;&nbsp; (Showing
            @((Model.PageNumber - 1) * Model.PageSize + 1)
            to
            @(Model.IsLastPage == false ? Model.PageNumber * Model.PageSize : Model.TotalItemCount)
            of
            @Model.TotalItemCount entries)
        </p>
        @Html.PagedListPager(Model, page => Url.Action(ViewBag.Action, ViewBag.Controller, new {page, searchKey = ViewBag.SearchKey, orderBy = ViewBag.OrderBy, desc = ViewBag.Desc}))
    </div>
</div>