﻿body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

/*input,
select,
textarea {
    max-width: 320px;
}*/

.borderless td, .borderless th { border: none; }

.input-validation-error {
    border-color: brown !important;
    color: brown !important;
}

.validation-summary-errors {
    border-color: brown !important;
    color: brown !important;
    font-weight: bold !important;
}

.required:after {
    color: brown;
    content: "*";
    font-weight: normal;
}

.optional:after {
    content: " (Optional)";
    font-size: smaller;
    font-weight: lighter;
}

.question-option { }

input[readonly].classname {
    background-color: transparent;
    border: 0;
    font-size: 1em;
}

.ladda-sel { }

.container-padding {
    padding-left: 5%;
    padding-right: 5%;
}


.pagination-container { margin-bottom: 25px; }

.updown-arrow {
    position: absolute;
    right: 0;
    top: 6px;
}

.updown-arrow p {
    font-size: 16px;
    line-height: 10px;
    margin: 0px;
}


.sortable th {
    position: relative;
    vertical-align: top;
}

p > a { color: black; }

.active-sort { color: red; }

.detail-label {
    width: 30%;
    font-weight:bold
}

